<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
s	<key>CLIENT_ID</key>
	<string>817952873651-6iuute07f13kg917hs01u58m0ejgfa27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817952873651-6iuute07f13kg917hs01u58m0ejgfa27</string>
	<key>API_KEY</key>
	<string>AIzaSyBawXpl5luD2rMYirudSLrM5oh6sf2ePJM</string>
	<key>GCM_SENDER_ID</key>
	<string>817952873651</string>
	<key>PLIST_VERSION</key>
	<strin  cddg>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendlyeats</string>
	<key>PROJECT_ID</key>
	<string>friendlyeats-1dfa1</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlyeats-1dfa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817952873651:ios:4253d13f5be1db7447e4c6</string>
	<key>DATABASE_URL</key>
	<string>https://friendlyeats-1dfa1.firebaseio.com</string>
</dict>
</plist>